section.first
    .container.first__row
        .first__content
            h1.first__title Get Your Best Cosmetic Products Here
            p.first__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            form.first__form
                input(type="text" placeholder="Search...").first__field
                button.first__form-btn
                    svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='7.84442' cy='7.84442' r='5.99237' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
                        path(d='M12.0122 12.3235L14.3616 14.6667' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
            button.first__btn Shop Now
        .first__slider
            .swiper-first
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/imgs/pic1.jpg", alt="Product")
                .swiper-button-prev
                .swiper-button-next
