section.fourth
    .container 
        .fourth__row
            .fourth__item
                .fourth__imgs
                    img(src="./assets/imgs/star.svg", alt="star")
                    img(src="./assets/imgs/chair.svg", alt="chair")
                .fourth__number 01
                .fourth__text Регулируемые <br> кушетки и стулья
            .fourth__item
                .fourth__imgs
                    img(src="./assets/imgs/star.svg", alt="star")
                    img(src="./assets/imgs/chair.svg", alt="chair")
                .fourth__number 02
                .fourth__text Сухожаровой <br> шкаф
            .fourth__item
                .fourth__imgs
                    img(src="./assets/imgs/star.svg", alt="star")
                    img(src="./assets/imgs/chair.svg", alt="chair")
                .fourth__number 03
                .fourth__text Расходники <br> по себестоимости
            .fourth__item
                .fourth__imgs
                    img(src="./assets/imgs/star.svg", alt="star")
                    img(src="./assets/imgs/chair.svg", alt="chair")
                .fourth__number 04
                .fourth__text Интерьер, производящий <br> wow-эффект
