section.third
    .swiper-third
        .swiper-wrapper
            .swiper-slide
                .third__item
                    img.third__img(src="./assets/imgs/pic3.jpg", alt="")
                    .third__text Inspired by high end uphosltery fabric, the Walden cushions use a premium fabric that is anti microbial, moisture resistant, and has a great hand that is designed to last a lifetime.
            .swiper-slide
                .third__item
                    img.third__img(src="./assets/imgs/pic3.jpg", alt="")
                    .third__text Inspired by high end uphosltery fabric, the Walden cushions use a premium fabric that is anti microbial, moisture resistant, and has a great hand that is designed to last a lifetime.
            .swiper-slide
                .third__item
                    img.third__img(src="./assets/imgs/pic3.jpg", alt="")
                    .third__text Inspired by high end uphosltery fabric, the Walden cushions use a premium fabric that is anti microbial, moisture resistant, and has a great hand that is designed to last a lifetime.
            .swiper-slide
                .third__item
                    img.third__img(src="./assets/imgs/pic3.jpg", alt="")
                    .third__text Inspired by high end uphosltery fabric, the Walden cushions use a premium fabric that is anti microbial, moisture resistant, and has a great hand that is designed to last a lifetime.
            .swiper-slide
                .third__item
                    img.third__img(src="./assets/imgs/pic3.jpg", alt="")
                    .third__text Inspired by high end uphosltery fabric, the Walden cushions use a premium fabric that is anti microbial, moisture resistant, and has a great hand that is designed to last a lifetime.
            .swiper-slide
                .third__item
                    img.third__img(src="./assets/imgs/pic3.jpg", alt="")
                    .third__text Inspired by high end uphosltery fabric, the Walden cushions use a premium fabric that is anti microbial, moisture resistant, and has a great hand that is designed to last a lifetime.
    